# Entornos
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
*.egg

# Node
node_modules/
dist/
.vite/

# Docker volumes (no commitear datos locales)
postgres_data/
minio_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
